In [16]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df=pd.DataFrame({"size":["s","m","l","xl","s","s","l","xxl","xxl","s","m","l","xl"]})

In [18]:
df

   size
0     s
1     m
2     l
3    xl
4     s
5     s
6     l
7   xxl
8   xxl
9     s
10    m
11    l
12   xl

In [19]:
from sklearn.preprocessing import OrdinalEncoder

In [20]:
oe=OrdinalEncoder()

In [21]:
df["size"] = oe.fit_transform(df[["size"]])

In [22]:
df

    size
0    2.0
1    1.0
2    0.0
3    3.0
4    2.0
5    2.0
6    0.0
7    4.0
8    4.0
9    2.0
10   1.0
11   0.0
12   3.0