In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
data={"name":["a","b","c","d","a","c"],
      "eng":[8,7,4,8,8,4],
      "hindi":[2,3,6,5,2,6]
     }

In [42]:
df=pd.DataFrame(data)

In [43]:
df

  name  eng  hindi
0    a    8      2
1    b    7      3
2    c    4      6
3    d    8      5
4    a    8      2
5    c    4      6

In [44]:
df["Duplicate"]=df.duplicated()

In [45]:
df

  name  eng  hindi  Duplicate
0    a    8      2      False
1    b    7      3      False
2    c    4      6      False
3    d    8      5      False
4    a    8      2       True
5    c    4      6       True

In [46]:
df.drop_duplicates(inplace=True)